

<h2>Veuillez remplir les champs</h2>
<form [formGroup]="registrationForm" class="d-flex flex-column align-items-center">
    <div>
      <label for="nom">
        Nom
      </label>
      <input id="nom" type="text" formControlName="nom">
   
      <div *ngIf="registrationForm.controls['nom'].invalid && registrationForm.controls['nom'].touched">
        Le champ nom est obligatoire
      </div>
     </div>
  
  
    <div>
      <label for="prenom">
        Prénom
      </label>
      <input id="prenom" type="text"  formControlName="prenom">
      <div *ngIf="registrationForm.controls['prenom'].invalid && registrationForm.controls['prenom'].touched">
        Le champ prénom est obligatoire
      </div>
    </div>

    <label for="cursus">
      Veuillez choisir un cursus
    </label>
    <select id="cursus" class="form-select" style="width:10%" aria-label="Default select example" formControlName="cursus">
        <option *ngFor = "let cursus of curs" >{{cursus.nom}}</option>
    </select>
  
  
    <button class="button" type="submit" [disabled]="registrationForm.invalid" (click)="onSubmit()" >Add</button>
  
  </form>
