<h1 class="mt-3">Liste Des <strong>Cursus.</strong></h1>
<app-detail-cursus [cursus]= "selectedCursus"></app-detail-cursus>
<div class="d-flex flex-column align-items-center mt-30">
<div class="card" *ngFor="let cursus of ( curs | sortname) ">
    <img [class.selected]="selectedCursus" (click)="onSelect(cursus)" src="{{cursus.image}}" class="card-img-top" alt="error">
    <div  class="card-body">
      <h5 class="card-title">{{cursus.nom.toUpperCase()}}</h5>
    </div>
  </div>
</div>
<!-- <form style="width:100%;margin-top:50px;margin-bottom: 50px;" class="d-flex flex-column align-items-center" #userForm="ngForm">
  {{ userForm.value | json }}
  <div class="mb-3 form-group">
    <label for="exampleInputEmail1" class="form-label">Nom</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:500px;" ngModel name="nom">
  </div>
  <div class="mb-3 form-group">
    <label for="exampleInputDescription" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputDescription" style="width:500px;" ngModel name="description">
  </div>
  <div class="mb-3 form-group">
    <label for="exampleInputImage" class="form-label">Lien de l'image</label>
    <input type="text" class="form-control" id="exampleInputImage" style="width:500px;" ngModel name="url image">
  </div>
  <div class="mb-3 form-group">
    <label for="exampleInputMotsCles" class="form-label">Mots clés</label>
    <input type="text" class="form-control" id="exampleInputMotsCles" style="width:500px;" ngModel name="mots clés">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<form [formGroup]="registrationForm">

  <div>
    <label for="nom">
      Nom
    </label>
    <input id="nom" type="text" formControlName="nom" [class.is-invalid]="registrationForm.get('nom').invalid && registrationForm.get('nom').touched">
  </div>

  <div>
    <label for="description">
      Description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <div>
    <label for="image">
      Image
    </label>
    <input id="image" type="text" formControlName="image">
  </div>

  <div>
    <label for="motsCles">
      Mots clés
    </label>
    <input id="motsCles" type="text" formControlName="motsCles">
  </div>

  <button class="button" type="submit">Add</button>

</form>